<!-- Button trigger modal -->
<button
  type="button"
  class="btn m-auto btn-success"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  style="
    font-weight: 100;
    text-shadow: 0 0 10px #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  "
>
  Create New Project
  <span
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: -1;
      opacity: 0;
    "
  ></span>
</button>


<style>
  .btn-success:hover {
    box-shadow: 0px 0px 15px 5px #28a745;
  }

  .btn-success:hover .button {
    animation: glowing 1300ms infinite;
  }

  @keyframes glowing {
    0% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #2ba805;
    }
    50% {
      background-color: #49e819;
      box-shadow: 0 0 20px #49e819;
    }
    100% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #2ba805;
    }
  }
</style>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: black; color: white;">
        <h5 class="modal-title" id="exampleModalLabel">Create a new project</h5>

        
        <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        style="background-color: red; color: white;"
      ></button>
      </div>
      <form
        class="border border-light border-3"
        action="/project/create"
        method="POST"
      >
      <style>
        form {
          background-color: yellow;
        }
      </style>
        <div class="row mb-3 m-auto">
          <label for="namelabel" class="col-sm-4 col-form-label">Name:</label>
          <div class="col-sm-8">
            <input
              type="text"
              name="name"
              placeholder="Name of your project"
              required
              class="form-control"
              id="namelabel"
            />
          </div>
        </div>
        <div class="row mb-3 m-auto">
          <label for="inputPassword3" class="col-sm-4 col-form-label"
            >Description:</label
          >
          <div class="col-sm-8">
            <textarea
              name="description"
              placeholder="Write something about your project..."
              required
              class="form-control"
              id="inputPassword3"
              style="height: 100px"
            ></textarea>
          </div>
        </div>
        <div class="row mb-3 m-auto">
          <label for="authorlabel" class="col-sm-4 col-form-label"
            >Author:</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              name="author"
              placeholder="Author"
              required
              class="form-control"
              id="authorlabel"
            />
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary button"
            data-bs-dismiss="modal"
            style="
              position: relative;
              z-index: 1;
              overflow: hidden;
              background-color: #6c757d;
              color: #fff;
              border: none;
              padding: 10px 20px;
              font-size: 16px;
              text-align: center;
              text-transform: uppercase;
              letter-spacing: 2px;
            "
          >
            Close
            <span
              style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                z-index: -1;
                opacity: 0;
              "
            ></span>
          </button>

          <style>
            .button {
              background-color: #6c757d;
              -webkit-border-radius: 60px;
              border-radius: 60px;
              border: none;
              color: #eeeeee;
              cursor: pointer;
              display: inline-block;
              font-family: sans-serif;
              font-size: 20px;
              padding: 5px 15px;
              text-align: center;
              text-decoration: none;
            }

            .button:hover {
              animation: glowing 1300ms infinite;
            }

            @keyframes glowing {
              0% {
                background-color: #13f0b5;
                box-shadow: 0 0 5px #7decf8;
              }
              50% {
                background-color: #08d8eb;
                box-shadow: 0 0 20px #19dee8;
              }
              100% {
                background-color: #05a895;
                box-shadow: 0 0 5px #05a89a;
              }
              80% {
                transform: scale(1.1);
              }
            }
          </style>

          <button
            type="submit"
            class="btn btn-primary submit"
            style="
              position: relative;
              z-index: 1;
              overflow: hidden;
              background-color: #007bff;
              color: #fff;
              border: none;
              padding: 10px 20px;
              font-size: 16px;
              text-align: center;
              text-transform: uppercase;
              letter-spacing: 2px;
            "
          >
            Create project
            <span
              style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                z-index: -1;
                opacity: 0;
              "
            ></span>
          </button>

          <style>
            .submit {
              background-color: #007bff;
              -webkit-border-radius: 60px;
              border-radius: 60px;
              border: none;
              color: #eeeeee;
              cursor: pointer;
              display: inline-block;
              font-family: sans-serif;
              font-size: 20px;
              padding: 5px 15px;
              text-align: center;
              text-decoration: none;
            }

            .submit:hover {
              animation: glowing-submit 1300ms infinite;
            }

            @keyframes glowing-submit {
              0% {
                background-color: #007bff;
                box-shadow: 0 0 5px #007bff;
              }
              50% {
                background-color: #007bff;
                box-shadow: 0 0 20px #007bff;
              }
              100% {
                background-color: #007bff;
                box-shadow: 0 0 5px #007bff;
              }
              80% {
                transform: scale(1.1);
              }
            }
          </style>
        </div>
      </form>
    </div>
  </div>
</div>
